@charset "utf-8";
/* CSS Document */
@keyframes in{
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	60% {
		opacity: 1;
		transform: translateY(-30px);
	}
	80% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes out{
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-2000px);
	}
}
.bounceInUp{animation:in 1s ease}
.bounceInOut{animation:out 1s ease}
*{margin:0;padding:0;}
li{list-style:none}
a{text-decoration:none;}

body,html{
	min-width:960px;
	width:100%;
	font-family: "Microsoft YaHei","微软雅黑","Arial","黑体","宋体",sans-serif;
    font-size: 12px;
	overflow:hidden;
	height:100%;
	
	}
.icon{
	   background-image:url(../img/sprits.png);
	   background-repeat:no-repeat;
	  }	 
#head{
	   
	   width:100%;
	   height:70px;
	   
	  }
#head-icon{
	       width:50%;
		   height:100%;
		   
		   display:inline-block;
		  
	      }
#head-icon a{
	        display:block;
	        font-size:24px;
			font-weight:500;
			color:#0091D7;
			letter-spacing:8px;
			padding:15px 70px;
	      }
#head-list{
	       float:right;
		   position:relative;
		   right:30px;
		   z-index:10;
		  }
.head-list .user-head{
	       width:100px;
		   height:55px;
		   position:absolute;
		   margin:5px auto;
		   left:0;right:0;top:0;bottom:0;
		   left:auto;
		   z-index:10;
		   border:1px solid #FFF;
		   }
.head-list .user-head.active{  
          border:1px solid #666;
	      border-bottom:none;
		  background:#FFF;
		}
.head-list .active em{  
         background-position:-371px -8px;
		}		
		   
.user-head a{
	       display:inline-block;
		   margin:2px 10px;
	    }
.user-print{
	    display:block;
		width:50px;
		height:50px;
		border-radius:50%;
		overflow:hidden;
		float:left;
	    }
.user-print img{
		width:50px;
		height:50px;
		border-radius:50%;
	    }				 						    		  

.user-head em{
	     display:block;
		 float:left;
		 width:10px;
		 height:10px;
		 background-position:-355px -8px;
		 margin:25px 0 0 15px;
	    }
.user-list{
		 position:absolute;
		 width:168px;
		 height:auto;
		 border:1px solid #000;
		 background:#fff;
		 font-size:15px;
		 margin:auto;
		 left:0;right:0;top:0;bottom:0;
		 top:60px;bottom:auto;
		 left:auto;
		 letter-spacing:3px;
		 box-shadow:5px 5px 5px #A0A0A4;
		 display:none;
		 
	   }
.list-menu{
	      
	     }
.list-menu li{
		border-top:1px solid #666;
		padding:5px 10px;
		
	   }
.user-name{
	      padding:5px 10px;
	     }	
.list-menu a{
	      
	       color:#000;
		  }		    	  	 	   	  	 		  	  		  
/**/
#toolMenu{
	        font-size: 0;
			height: 36px;
			padding:11px 20px;
			width: auto;
			background: #ecf0f6;
			border:1px solid #d0d9de;
	  }
#toolMenu::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    width: 0;
}	  
.toolMenu a{
	  display:inline-block;
	  height:36px;
	  line-height:36px;
	  background:#FFF;
	  margin-right:10px;
      padding: 0 20px;
	  text-align:center;
	  border-radius:3px;
	  font-size: 14px;
	  color:#66757f;
	  border: 1px solid #d0d9de;
	 }	 
.toolMenu a i{
	  display:inline-block;
	  position:relative;
	  top:2px; 
	  width:16px;
	  height:16px; 
	  }	  
.toolMenu a.download i{
	  background-position:-1px -29px;
	  width:16px;
	  height:14px; 
	 }
.toolMenu a.share i{
	  background-position:-37px -28px;
	 }
.toolMenu a.newfolder i{
	  background-position:-181px 0px;
	 }
.toolMenu a.rename i{
	  background-position:-109px -29px;
	 }
.toolMenu a.cancle i{
	  background-position:-145px -29px;
	 }
.toolMenu a.move i{
	  background-position:-73px -28px;
	 }
.toolMenu a.refresh i{
	  background-position:-218px -1px;
	 }			 	 	 	 	 
.toolMenu a:hover{
	  color:#55addc;
	}
.toolMenu a.download:hover i{
	  background-position:-1px -2px;
	}
.toolMenu a.share:hover i{
	  background-position:-37px -1px;
	}
.toolMenu a.newfolder:hover i{
	  background-position:-181px -27px;
	}
.toolMenu a.rename:hover i{
	  background-position:-109px -2px;
	}
.toolMenu a.cancle:hover i{
	  background-position:-145px -2px;
	}
.toolMenu a.move:hover i{
	  background-position:-73px -1px;
	}
.toolMenu a.refresh:hover i{
	  background-position:-218px -28px;
	}
.toolMenu .view{float:right;position:relative;width:auto;height:auto;}																	.toolMenu .view	.changeView{padding:0 10px;}	 
.toolMenu .view a i{background-position: -254px -1px;}
.toolMenu .view .viewMode{float:right}
.toolMenu .view .viewMode a .icon1{background-position:-27px -126px;}
.toolMenu .view .viewMode a .icon2{background-position:-355px -8px;width:10px;height:10px;}
.toolMenu .view .sortMode{padding:0 10px;position:relative;z-index:3;margin:0;border-radius:3px;}
.toolMenu .view .viewMode .sortMode-list{
	    border: 1px solid #55addc;
        border-radius: 3px 0 3px 3px;
		width:130px;
		position:absolute;
		right:0;
		top:36px;
	
	}
.toolMenu .view .viewMode .sortMode-list li a{
	  margin:0;
	  display:block;
	  border:none;
	  padding:0 5px;
	}
.toolMenu .view .viewMode .sortMode-list li a.timers i{
	  background-position:-27px -57px;
	}
.toolMenu .view .viewMode .sortMode-list li a.length i{
	  background-position:-27px -90px;
	}
.toolMenu .view .viewMode .sortMode-list li a.small i{
	  background-position:-27px -126px;
	}
.

 .viewMode .sortMode{
	  border-radius:3px 3px 0 0;
	  border:1px solid #55addc;
	  border-bottom:none;
	  height:36px;
	  z-index:3;
	
	}	

.tips{
	  width:auto;
	  height:35px;
	  box-shadow: 5px 5px 5px #888888;
	  border-radius:5px;
	  font:12px;
	  position:fixed;
	  line-height:35px;
	  background:#808080;
	  padding:0 10px;
	}
.tips .icon{
	width:24px;
	height:24px;
	float:left;
	background-position: -324px -242px;
	margin:5px 5px 0;
	
	}					
.hiden{
	   width:100%;
	   height:100%;
	   position:fixed;
	   top:0;
	   left:0;
	   background:#000;
	   opacity:0.38;
	   z-index:90;
	   display:none;
	}	
.share_1{
	    width:320px;
		height:246px;
		background:#fff;
		border: 1px solid #d0d3d6;
		border-radius: 3px;
		color: #666;
		position: absolute;
		z-index: 111;
		display:none;
	}
.shareHead{
	    border-bottom:1px solid #ccc;
		font-size:16px;
		height:45px;
		line-height:45px;
		padding-left:20px;
		cursor: move;
	}	
.shareHead .close{
	 background-position: -325px -28px;
	 background-repeat: no-repeat;
	 display: block;
	 height: 15px;
     position: absolute;
     right: 15px;
     top: 17px;
     width: 16px;
	}
.shareHead .close:hover{
	background-position: -325px -2px;
	}	
.share_1 .share_C a{
	    background-position: 25px 3px;
		background-repeat:no-repeat;
		border-top: 1px dashed #f5f7f9;
		clear: both;
		color: #666;
		display: block;
		float: none;
		font-size: 16px;
		height: auto;
		line-height: 30px;
		margin: 0;
		padding: 0 30px 0 60px;
	}
.share_1 .share_C a.bgs_qzone{
	    background-image:url(../img/qzone.png);
	}
.share_1 .share_C a.bgs_weixin{
	    background-image:url(../img/weixin.png);
	} 
.share_1 .share_C a.bgs_qq{
	    background-image:url(../img/qq.png);
	} 	  		  	 	  
.share_1 .share_C a.bgs_mail{
	    background-image:url(../img/mail.png);
	}
.share_1 .share_C a.bgs_more{
	    background-image:url(../img/icons_0_24.png);
	}
.share_C a.bgs_qzone:hover, 
.share_C a.bgs_weixin:hover,
.share_C a.bgs_qq:hover,
.share_C a.bgs_mail:hover,
.share_C a.bgs_more:hover{
	    background-color:rgba(0,0,0,0.3);
	} 
.share_1 .shareEnd{
	    border-top:1px solid #ccc;
		text-align:right;
		padding:0 10px;
	}
.share_1 .shareEnd a{
	    display:inline-block;
		width:58px;
		height:28px;
		line-height:28px;
		border:1px solid #2698f0;
		background:#2698f0;
		border-radius:3px;
		color:#FFF;
		font-size:14px;
		text-align:center;
		margin-top:8px;
	}  		  		 	  	
.share_1 .shareEnd a:hover{
	    background:#5370a7;
	}
.mainView{
	   width:100%;
	   
	}
.leftView{
	width:240px;
	font-size:14px;
	border-right:1px solid #e1e8ed;
	height:auto;
	float:left;
	height:100%;
	overflow:auto;
	
	}
.zh{
	 width:100%;
	 height:100%;
	}
.treeMenu li .title{
	 height:30px;
	 line-height:30px;
	}
.treeMenu li .title .icon1{
	 display:inline-block;
	 width:10px;
	 height:10px;
	 margin-right: 4px;
	 background-position:-370px -25px;
	}
.treeMenu li .title .icon2{
	 display:inline-block;
	 width:16px;
	 height:16px;
	 background-position: -21px -151px;
	 position:relative;
	 top:2px;
	}
.rightView{
	 float:left;
	 height:100%;
	 background:#f5f8fa;
	}	
.rightView .nav{
	 background:#fff;
	 border-bottom:1px solid #ecf0f6;
	 height:46px;
	 width:100%;
	}
.rightView .nav .navbox{
	
	}
.rightView .nav .navbox .selectAll{
	width:15px;
	height:15px;
	float:left;
	display:block;
	border:1px solid #d0d9de;
	margin:14px 0 0 10px;
	}																		

.breadNav{
	float:left;
	line-height:46px;
	}	
.rightView .navbox ul li .currPath{
	padding:0 15px 15px;
	font-size:14px;
	border-bottom:2px solid #55addb;
	line-height:29px;
	}
.rightView .navbox ul li a span{
	padding:0 15px 15px;
	font-size:14px;
	}
.rightView .navbox ul li i{
	 background-position:-1px -181px;
	 height:20px;
	 width:10px;
	 margin-left:5px;
	 float:left;
	 margin-top:15px;
	}
.rightView .navbox ul li a {
	padding:0 15px ;
	font-size:14px;
	color:#2a3133;
	float:left;
	}			

.rightView .navbox ul li{
	 float:left;
	 margin-left:5px;
	}	
.filesLists, .V-content{
	   height:100%;
	   width:100%;
	   position:relative;
	}
.filesLists .files{
	   width:100%;
	   height:40px;
	   font-size: 14px;
	   padding: 0 15px;
	   border-bottom:1px solid #BFBFDF;
	   line-height:40px;
	   position:relative;
	}
	
.filesLists .files .titles{
	   width:40%;
	   float:left;
	   height:40px;
	}	
.filesLists .files .selectBox{display:block;top:12px;}		
.files .selectBox{
	   
	    border: 1px solid #d0d9de;
        display:none;
		height: 14px;
		left: 9px;
		position: absolute;
		top:9px;
		width: 14px;
	}
.filesLists .files .titles .folderIcon{
	   float:left;
	   width:24px;
	   height:21px;
	   margin: 9px 0 0 25px;
	   background-position: -217px -243px;
	   
	}
.filesLists .files .titles .filename{
	display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 40px;
    margin-left: 10px;
	color: #66757f;   
	}
.filesLists .files .tools{
	  width:40%;
	  height:40px;
	  float:left;
	  
	}	
.filesLists .files  .tools a{
	
	display: inline-block;
    float: none;
    height: 16px;
    margin: 0 20px 0 0;
    position: relative;
    top: 3px;
    width: 16px;
	
	}	
.filesLists .files  .tools a.download{
	  background-position: -1px -29px;
	}
.filesLists .files  .tools a.download:hover{
	  background-position: -1px -2px;
	}	
.filesLists .files  .tools a.share{
	  background-position: -37px -28px;
	}
.filesLists .files  .tools a.share:hover{
	  background-position: -37px -1px;
	}	
.filesLists .files  .tools a.move{
	  background-position: -73px -28px;
	}
.filesLists .files  .tools a.move:hover{
	  background-position: -73px -1px;
	}	
.filesLists .files  .tools a.cancle{
	  background-position: -145px -29px;
	}
.filesLists .files  .tools a.cancle:hover{
	  background-position: -145px -2px;
	}

.mainView .leftView .treeMenu ul li div.active{
	       background:#f0f3f6;
	}
.rightView .nav .navbox .selectAll.sel {
	background-color: #55addc;
    background-image:url(../img/sprits.png);
    background-position: -384px -24px;
    background-repeat: no-repeat;
    border-color: #55addc;
	}
.V-content .filesLists .files.active{
	background:#fff; 
	}
.files.active .selectBox{
	background-color: #55addc;
    background-image:url(../img/sprits.png);
    background-position: -384px -24px;
    background-repeat: no-repeat;
    border-color: #55addc;
	}
.filesView{display:none}	
.filesView .files{
	background: #ebeff0;
    border: 1px solid #ebeff0;
    border-radius: 3px;
    float: left;
    height: 178px;
    margin: 0 25px 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all 0.1s ease-in 0s;
    width: 178px;
	margin:20px;
	}
.filesView .files a{
	border: 1px solid #d0d9de;
    display: none;
    height: 14px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 14px; 
	display: inline-block;
	}
.filesView .files span.icon{
	height: 80px;
    margin-bottom: 10px;
    margin-top: 35px;
    width: 80px;
	display: inline-block;
	}
.filesView .files .folderIcon{background-position: -72px -139px;}							
.txt{display:none}
.showing{display:inline-block;}	







.h_tips {
	   width:400px;
	   height:170px;
	   border:1px solid #BFBFDF;
	   background:#EFEFEF;
	   border-radius:3px;
	   position:absolute;
	   z-index:100;
	   padding:10px;
       }
.tm_title{
	   width:100%;
	   height:30px;
	   border-bottom:1px solid #ACB5AC;
	  }
.tm_title span{
	   font-size:16px;
	   line-height:30px;
	   margin-left:10px;
	   color:#69697C;
	  }
.tm_title a{
	   background-position:-325px -28px; 
	   display:inline-block;
	   width:16px;
	   height:16px;
	   float:right;
	   margin-top:10px;
	  }	
.tm_title a:hover{
	  background-position:-325px -2px; 
	  }	
.t_txt{
	  width:100%;
	  height:110px;
	  border-bottom:1px solid #C6CACC;
	 }
.t_txt p{
	  
	  font-size:18px;
	  color:#444;
	  line-height:110px;
	  text-align:center;
	 }
.t_close{padding-left:270px;}	  		  		  		  	   					
.t_close a{ background: #2698f0 none repeat scroll 0 0;
    border: 1px solid #2698f0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    margin: 2px;
    text-align: center;
    width: 58px;
	
	}

.moveLocation{
	 width:400px;
	 height:auto;
	 background:#FFF;
	 border:1px solid #A0A0A0;
	 border-radius:3px;
	 font-size:14px;
	 position:absolute;
	 top:0;
	 left:0;
	 
	}
.moveLocation .m_title{
	 
	 height:40px;
	 line-height:40px;
	 border-bottom:1px solid #C3C3C3;
	 padding:0 20px;
	}
.moveLocation a.close{
	 width:17px;
	 height:16px;
	 display:inline-block;
	 background-position:-325px -28px;
	 float:right;
	
	 margin-top:12px;
	}
.moveLocation a.close:hover{
	 background-position:-325px -2px;
	}	
.selarea{
	height:auto;
	padding:0 20px;
	
	}
.selarea .fileName{
	width:100%;
	height:40px;
	line-height:40px; 
	}
.selarea span:nth-child(1){
	background-position: -217px -243px;
    height: 21px;
    margin-right: 10px;
    position: relative;
    top: 6px;
    width: 24px;
	display:inline-block;
	}
.treeMenuPanel{border: 1px solid #e1e8ed;
    height: 240px;
    overflow-y: auto;
	
	}
.btnColse{
	font-size: 0;
    margin: 20px 0;
    text-align: center;
    width: 100%;
	}
.btnColse a{
	 border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    width: 80px;
	}
.btnColse a:nth-child(1){
	background: #55addc;
    border: 1px solid #55addc;
    color: #fff;
	}
.btnColse a:nth-child(2){
	background: #fff;
    border: 1px solid #55addc;
    color: #55addc;
    margin-left: 10px;
	}	
.treeMenu li .title {
	height: 30px;
    line-height: 30px;
    }
.treeMenu li .title .icon1{
	display:inline-block;
	height:10px;
	width:10px;
	margin-right:4px;
	backgound-position:-370px -25px;
    }
.active{
	background:#f0f3f6 ;
	}
@keyframes rightB{
    0%{
       transform:translateY(0)
	}
	100%{
       transform:translateY(-10px)
	}
}
.rightB{
   width:100px;
   height:100px;
   position:fixed;
   right:0;
   bottom:0;
   border:1px solid #808080;
   animation:rightB 0.1s infinite alternate;
   z-index:100;
   
}
.rightB:hover{
  animation:none;
}
.rightB a{
   display:block;
   width:60px;
   height:20px;
   text-align:center;
   border:1px solid #A0A0A4;
   margin:10px ;
   color:#2A0000;
}
																								
						
